@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --corPrincipal: #ebe5f1;
    --corSecundaria: #4b326d;
    --corTerciaria: #5dadec;
    --corWhite: #fbfbfb;
    --corBlack: #0e0e0e;
    --corAlternative: #f6b398;
}

body {
    background-color: var(--corPrincipal);
}

.white-tab {
    display: block;
    top: 0;
    width: 100%;
    height: 50px;
    background: #fff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background: var(--corPrincipal);
}

.navigation {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #fff;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--corSecundaria);
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
    color: var(--corPrincipal);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
    
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--corSecundaria);
    border-radius: 50%;
    border: 6px solid var(--corPrincipal);
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    left: -22px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--corPrincipal);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    right: -22px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--corPrincipal);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.first-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 450px;
    background-color: var(--corAlternative);
}

.first-container h1 {
    color: var(--corSecundaria);
}

.first-container h2 {
    color: var(--corBlack);
}

.first-container p {
    color: var(--corBlack);
    text-align: justify;
    padding: 50px;
    text-indent: 3.0em;
}

.second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 450px;
    background-color: #a489ca;
}

.second-container h3 {
    color: var(--corSecundaria);
    font-size: 2.5em;
}

.second-container-first-p {
    color: var(--corBlack);
    font-size: 1.5em;
    font-weight: 500;
}

.second-container p {
    color: var(--corBlack);
    text-align: justify;
    padding: 20px;
    text-indent: 3.0em;
}

.third-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 850px;
    background-color: #cae974;
}

.third-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 600px;
    background-color: var(--corAlternative);
}

.third-container h4 {
    color: var(--corSecundaria);
    font-size: 2.5em;
}

.third-container h5 {
    color: var(--corSecundaria);
    font-size: 1.5em;
}
.third-container h6 {
    color: var(--corSecundaria);
    font-size: 1.5em;
}

.third-container p {
    color: var(--corBlack);
    text-align: justify;
    padding: 30px;
    text-indent: 3.0em;
}

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100px;
    background-color: #e97e74;
}

.chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height:50px;
    background-color: #e974e3;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: var(--corSecundaria);
}

.footer-first-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
}

.footer-one-p {
    font-size: 2em;
    color: var(--corPrincipal);
}

.footer-second-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    
}

.footer-third-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 96%;
}

.footer-third-container p {
    color: var(--corPrincipal);
    text-align: justify;
    padding: 30px;
    text-indent: 3.0em;
}

.btn-light {
    margin: 10px;
}

.footer-icon-heart {
    width: 50px;
    height: 50px;
}

.footer-fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.footer-fourth-container p {
    font-size: 1em;
    color: var(--corPrincipal);
    padding: 0;
    width: 305px;
}

#footer-fourth-container-formulario {
    border: 10px solid transparent;
}

.footer-fourth-container-formulario {}

.btn-primary {
    margin: 10px;
    width: 330px;
}